*{
	font-family:calibri;
	box-sizing: border-box;
	*/display:flex;*/
}
.bodyclass {
	background-color: black;
}
.navlinks{
	background-color:grey;
	width:100%;
	padding: 1rem;

}

main{
	background-color:white;
	width: 100%;
	padding:1rem;
	display:flex;
	
}
.bookmeowhead{
	position:absolute;
	right:1rem;
	top:0.5rem;
	color:red;
}
.mainheader{
	color:white;
	font-weight:normal;
}
.subheader{
	color:grey;
}
h2{
	font-weight: normal;
}
.articlehead{
	margin-left:1rem;
	margin-right: 1rem;
	width:19rem;
	height:25rem;
}
.sidebox{
	width:13rem;
	height:27rem;
	border-style:solid;
	text-align:center;
}
img{
	margin-left:auto;
	margin-right:auto;
	
}
.biscuitsays{
	width:9rem;
	padding-left:1rem;
	text-align: left;
}
.footer1{
	color:white;
}
.emaillink{
	color:red;
	font-style:normal
}